* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    color:#6799ff;
    position: relative;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    /* order: 1;             hamburger is before logo by default, this moves it after */
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

ul, li {
    margin-left: 0;
    padding-left: 0;
}

/* body nav ul li {
    padding-left: 10px;
} */


img {
    display: none;
}

li {
    list-style: none;
    padding-top: 5px;
}

body nav ul li nav ul li {
  padding-bottom: 5px;    
}
a {
  text-decoration: none;
  color: inherit;
}

body nav {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: column;
}
nav ul {
  display: flex;
  flex-direction: column;    
}

.outerMenu { /* these are body nav ul li */
  text-transform: uppercase;  
  border-bottom: 1px solid #ddd;  
}

.outerMenu nav {
  text-transform: none;    
}

.outerMenu a {
  padding-left: 10px;    
  padding-top: 10px;
  padding-bottom: 10px;
}

.outerMenu svg {
  padding-left: 10px;    
}

nav ul li {
  display: flex;    
  flex-direction: column;
}
nav ul li nav {
  display: flex;    
  background-color: #f9fbff;
}
nav ul li nav ul li {
  display: flex;    
  color: black;
}



/***** MEDIA > 576 *****/

@media (min-width: 576px) {
  /* switch from hamburger to full menu */
  body nav {
    position: relative;
    margin-bottom: 0;
  }

  body nav ul {
    margin-bottom: 0;
  }

  img { 
    display: inline-block;
    height: 74px;
    width: 74px
  }
  .img-caption {
    display: block;
    font-size: 13px;
    width: 74px;
    text-align: center;
  }

  .hamburger {
    display: none;
  }
  
  .hiwItem {
    display: none;    /* TEMP HIDE 1 ICON GROUP FOR TSHOOTING */
  }

  nav, nav ul, nav ul li {
    display: flex;
    flex-direction: row;
  }
  .outerMenu {
    flex-direction: column;
    border-bottom: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .outerMenu nav {
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    left: 0;
  }
  .outerMenu a {
    padding-top: 0;
    text-align: center;
  }
  .menuPart1 {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ddd;  
  }

  .menuPart2 {
    border-bottom: 1px solid #ddd;
    padding-right: 10px;  
  }

  nav .menuPart1ch {
    width: 100%;
    display: flex;
  }

  .menuPart1ch {
    display: flex;
    justify-content: space-around;
    background-color: #f9fbff;
  }

}

@media (min-width: 768px) {
    /* switch menu spacing */

  .outerMenu {
    padding-left: 12px;
    padding-right: 12px;
  }
}
